.vscode
.yotta.json
*.bin
*.DS_Store
*.hex
*.pyc
*.swp
*.uf2
*.pyc
*~
build
docs
buildcache.json
libraries
Makefile
pxtapp
yotta_modules
yotta_targets
Doxyfile
.idea
model_maker/libraries
model_maker/model
model_maker/model_tflite*
cmake-build-debug